APP_ENV=development
APP_NAME=AsilParla
APP_VERSION=1.17.02
PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_USER=asilparla_user
DB_PASS=asilparla_pass
DB_NAME=asilparla_db
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/1
CELERY_RESULT_BACKEND=redis://localhost:6379/2
OPENAI_API_KEY=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
NGROK_AUTHTOKEN=34s0NhkMH2gtzXBaL6aPB8Wxh0L_45u4pbcmiPHoKdEUbirp9
ADMIN_EMAIL=muhammedkulay@gmail.com
ADMIN_PASS=babaseroS27
PILOT_EMAIL=asilparla73@gmail.com
PILOT_PASS=asilParla2773
ALLOW_ORIGINS=*
SECRET_KEY=super_secret_key_asilparla
ACCESS_TOKEN_EXPIRE_MINUTES=60
LOG_LEVEL=INFO
LOG_DIR=logs/system
