# ===== API KEYS =====
TRENDYOL_API_KEY=your_trendyol_key_here
IYZICO_SECRET=your_iyzico_secret_here
PARASUT_CLIENT_ID=your_parasut_client_id
PARASUT_CLIENT_SECRET=your_parasut_client_secret

# ===== SECURITY & ADMIN =====
ADMIN_EMAIL=muhammedkulay@gmail.com
ADMIN_PASSWORD=babaseroS27
PILOT_EMAIL=asilparla73@gmail.com
PILOT_PASSWORD=asilParla2773

# ===== OPENAI & NGROK =====
OPENAI_API_KEY=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
NGROK_TOKEN=34s0NhkMH2gtzXBaL6aPB8Wxh0L_45u4pbcmiPHoKdEUbirp9
